<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;display=swap"
            rel="stylesheet">

</head>

<body>
<footer class="py-5 bg-dark" th:fragment="footer">
    <div class="container">
        <div class="m-0 text-center text-white">
            <p class="fonte">Todos os direitos são reservados.</p>
            <p class="fonte">© 2020</p>
            <p class="fonte">Conheça-nos também nas redes sociais!</p>
            <div>
                <a href="http://www.facebook.com" target="_blank">
                    <img src="img/facebook.png" alt="">
                </a>
                <a href="http://www.instagram.com" target="_blank">
                    <img class="left" src="img/insta.png" alt="">
                </a>
                <a href="http://www.twitter.com" target="_blank">
                    <img class="left" src="img/twitter.png">
                </a>
            </div>
        </div>
        <!-- /.container -->
</footer>
</body>

</body>
</html>