nav img {
    width: 70px;
    margin-top: -25px;
    margin-bottom: -15px;

}

.marginleft10 {
    margin-left: 15px;
}

.marginleft50 {
    margin-left: 50px;
}


.buttonColor {
	padding: 5px 8px;
	border-radius:5px;
    border: 1px solid white;
    color: white;
    background-color: rgb(153, 12, 12);
}

.buttonColor:hover {
    color: black;
    background-color: white;
}

nav {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 70px;
}


.opcao {
    border: 0px;
}

.opcao:hover {
    border-bottom: 1.5px solid white;
}
