.img100 {
    width: 100%;
}

html,body{
    font-family: 'Roboto Slab', serif;
    background-color: #000000;
    width:100%;
    height:100%;
}

.titulo {
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

.titulo:hover {
    letter-spacing: 2px;
}

.linha {
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}


.imagensPassando {
text-align: center;
margin-bottom: 40px;
}

.border {
    border: 1px solid white;
}

.card-title {
    text-align: center;
    font-size: 25px;
}

.top {
    margin-top: 5px;
}

.list-group-item {
    font-family: 'Roboto Slab', serif;
    background-color: black;
    border: 1px solid white;
    font-weight: 700;
    color: rgb(181, 18, 27);
    padding: 14px;
    text-align: center;
}

.list-group-item:hover {
    background-color: black;
    border: 1px solid white;
    color: rgb(181, 18, 27);
}

