<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Bree+Serif&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;display=swap"
        rel="stylesheet">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="img/logo.png"
                            class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form  method="post" th:object="${funcionarios}" th:action="@{/cadastra-funcionario}">
                        <input type="hidden" th:field="*{cod_funcionario}">
                        <div class="input-group mb-3">
                            <input type="text" th:field="*{nome_func}" class="form-control input_user" value="" placeholder="Nome">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" th:field="*{email}" class="form-control input_pass" value="" placeholder="Email">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" th:field="*{cargo}" class="form-control input_pass" value="" placeholder="Cargo">
                        </div>
                          <div class="input-group mb-3">
                            <input type="text" th:field="*{salario}" class="form-control input_pass" value="" placeholder="Salario">
                        </div>
                        
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" class="btn login_btn">Cadastrar</button>
                        </div>
                    </form>
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links text-white">
                        <a href="/exibeFuncionario" class="back">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>